<app-nav></app-nav>

<main>
  <div class="item">
    <h3 class="title">Save</h3>
    <p class="description">Save all your notifications for life</p>
    <img src="assets/save.png" alt="" class="preview">
    <div class="btns">
      <button class="coin">400 Coins</button>
      <button class="bill">4$</button>
    </div>
  </div>
  <div class="item">
    <h3 class="title">To-do List</h3>
    <p class="description">Create to-do list for adding task to do when you receive a notification.</p>
    <img src="assets/todo.png" alt="" class="preview">
    <div class="btns">
      <button class="coin">400 Coins</button>
      <button class="bill">4$</button>
    </div>
  </div>
  <div class="item">
    <h3 class="title">Filter</h3>
    <p class="description">Filter all your notifications automatically.</p>
    <img src="assets/filter.png" alt="" class="preview">
    <div class="btns">
      <button class="coin">400 Coins</button>
      <button class="bill">4$</button>
    </div>
  </div>
  <div class="item">
    <h3 class="title">Stats</h3>
    <p class="description">Show stats of notification you received and wich you opened and block notification you don't want.</p>
    <img src="assets/stats.png" alt="" class="preview">
    <div class="btns">
      <button class="coin">400 Coins</button>
      <button class="bill">4$</button>
    </div>
  </div>
</main>
