<main>
    <div class="container">
        <div class="item one">
            <img src="assets/timer.png" alt="">
            <h3>Unsorted</h3>
        </div>
        <div class="item two">
            <img src="assets/smile.png" alt="">
            <h3>Friends</h3>
        </div>
        <div class="item three">
            <img src="assets/job.png" alt="">
            <h3>Work</h3>
        </div>
        <div class="item four">
            <img src="assets/ads.png" alt="">
            <h3>Ads</h3>
        </div>
        <div class="item five">
            <p>+</p>
            <h3>New</h3>
        </div>
    </div>
</main>
